<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="annie"/>
  <group ns="$(arg namespace)">
    <node pkg="mission_manager" type="mission_manager_node.py" name="mission_manager" output="screen">
      <rosparam command="load" file="$(find mission_manager)/config/annie.yaml"/>
    </node>
  </group>
</launch>		      
  
 
  
